
@{
	ViewData["Title"] = "Actualizar";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Actualizar Tipo</h1>


<hr />

<div class="container">
	<div class="col-sm-12">
		<h1>Actualizar Tipo</h1>
	</div>
</div>

<div class="container">
	<div class="col-sm-12 text-right pt-4">
		<a type="button" class="btn btn-primary" href="@Url.Action("Agregar")">Crear</a><br /><br />
	</div>
	<div class="col-sm-12">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>
						Codigo
					</th>
					<th>
						Descripcion
					</th>
					<th>
						Acciones
					</th>
				</tr>
			</thead>
			<tbody class="tbody">
				@foreach (var item in Model)
				{
					<tr>
						<td>@item.codTab</td>
						<td>@item.descripcion</td>
						<td>
							<a type="submit" href="" class="btn btn-primary" aria-hidden="true">
								<i class="fas fa-edit"></i>
							</a>
							<a type="submit" href="" class="btn btn-danger" aria-hidden="true">
								<i class="fas fa-minus"></i>
							</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>


