@{
	Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title></title>
	<link href="~/Content/estilospanel.css" rel="stylesheet" />
</head>
<body>
	<div class="row">
		<div class="col-sm-2">

		</div>
		<div class="col-sm-8">
			<div class="row">
				<div class="col-sm-4">
					<a href="@Url.Action("Index","Home")">
						<figure class="snip1104 red">
							<img style="width: 420px;padding-top: 30px;" src="~/Content/images/gestioncita.png" />
							<figcaption>
								<h2>Admición</h2>
							</figcaption>
						</figure>
					</a>
				</div>
				<div class="col-sm-4">
					<figure style="cursor: pointer;" class="snip1104 red">
						<img style="width: 220px;padding-top: 30px;" src="~/Content/images/gestionar.png" />
						<figcaption>
							<h2>Gestionar</h2>
						</figcaption>
					</figure>
				</div>
				<div class="col-sm-4">
					<figure style="cursor: pointer;" class="snip1104 red">
						<img style="width: 220px;padding-top: 30px;" src="~/Content/images/pago.png" />
						<figcaption>
							<h2>Pagos</h2>
						</figcaption>
					</figure>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<figure class="snip1104 red">
						<img style="width: 420px;padding-top: 30px;" src="~/Content/images/reportes.png" />
						<figcaption>
							<h2>Reportes</h2>
						</figcaption>
					</figure>
				</div>
			</div>
		</div>
		<div class="col-sm-2">

		</div>
	</div>
</body>
</html>